# 🐍 Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# ⚙️ Django
*.log
logs/
.env
*.env

# Игнорируем базу данных SQLite
*.sqlite3
*.db

# 📂 Виртуальное окружение
venv/

# 📝 IDE и редакторы
.vscode/
.idea/
